body {
  padding: 0;
  margin: 0;
}

.display {
  display: flex;
  align-items: center;
  border: 2px solid gray;
  padding: 4px;
  height: 30px;
  border-radius: 8px;
  background-color: color(#e8e8e8);
  text-wrap: wrap;
  max-width: 214px;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: auto;
}

.operators {
  display: flex;
  flex: 1;
  flex-grow: 0;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
}

.hflex {
  display: flex;
  flex: 1;
  gap: 2px;
}

.button {
  width: 50px;
  height: 40px;
  margin: 2px;
  border-radius: 8px;
}

.button.primary {
  background-color: #fb86004f;
}

.button.secondary {
}

.button.grow {
  width: 100%;
}
